<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.example.mapper.productCategoryMapper">
    <select id="getList" resultType="com.example.pojo.commonPojo.ProductCategory">
        select id, name, parent_id as parent_id
        from t_product_category
    </select>

    <select id="getById" resultType="com.example.pojo.commonPojo.ProductCategory">
        select *
        from t_product_category
        where id = #{id}
    </select>
</mapper>